# Supabase Configuration for SkillNest (Government Polytechnic Malvan)
VITE_SUPABASE_URL=https://cgtqbffzehpdbfrimbmz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_qCCE6hsD8Gs_g33Pq05QVQ_JJwcKvUn
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_qCCE6hsD8Gs_g33Pq05QVQ_JJwcKvUn
